# Basic Python .gitignore

# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Testing / coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/

# PyInstaller
*.spec

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Databases / local files
*.sqlite3
.env.local